
# /Whois/WindowsFormsApplication1Whois/
/Whois/WindowsFormsApplication1Whois/bin
/Whois/WindowsFormsApplication1Whois/./bin
/Whois/WindowsFormsApplication1Whois/./bin/*
/Whois/WindowsFormsApplication1Whois/obj
/Whois/WindowsFormsApplication1Whois/./obj
/Whois/WindowsFormsApplication1Whois/./obj/*
